<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark " [containerInside]="true">
  <logo>
    <a class="logo navbar-brand text-center" href="#">
      <strong>Airlines LOGO</strong>
    </a>
  </logo>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container p-5">
    <div class='section '>
      <form>
        <p class="h5 text-center mb-4 ">CHECKIN</p>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="form3" class="form-control" mdbActive>
          <label for="form3">{{lang | i18nSelect: translatedCode}}</label>
        </div>

        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="form2" class="form-control" mdbActive>
          <label for="form2">{{lang | i18nSelect: translatedName}}</label>
        </div>

        <div class="text-center">
          <button class="btn btn-indigo waves-light" mdbRippleRadius>{{lang | i18nSelect: translatedSubmit}}
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
        </div>

      </form>
    </div>
  </div>
</main>